*
!.gitignore
!README.org
!LICENSE

!data
!data/**

!init
!init/*.el

!scripts
!scripts/**

!Config.org
!early-init.el
!init.el

!save
!save/.gitkeep

!target
!target/emacs-q
!target/emacs-q/.gitkeep
